header {
    position: relative;
    height: 55px;
    width: 100%;
    background-image: url(./burgers/button0.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 12px;
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
    padding-top: 35px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    background-image: url(./burgers/background.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: black;
}

#gamecontainer {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-bottom: 30px;
}

#burger {
    background-image: url("./burgers/burger0.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 400px;
    margin-bottom: 50px;
    cursor: pointer;
}

#ronaldleft {
    height: 400px;
    width: 200px;
    margin-left: auto;
    margin-right: 20px;
}

#ronaldright {
    height: 400px;
    width: 200px;
    margin-right: auto;
    margin-left: 20px;
}

p {
    font-size: 30px;
    padding-top: 30px;
    height: 55px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    color: black;
    background-image: url(./burgers/button0.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}

#shop {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
}

button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    margin-top: 15px;
    height: 80px;
    width: 325px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(./burgers/button0.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
}